<div>
  <%= form_with model: @work, class: 'work-form'  do |f| %>
    <div class="form-group">
      <label>Category</label>
      <select class="form-control" name="work[category]">
        <option value="album">album</option>
        <option value="book">book</option>
        <option value="movie">movie</option>
      </select>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :creator %>
      <%= f.text_field :creator %>
    </div>
    <div class="form-group">
      <%= f.label :publication_year %>
      <%= f.text_field :publication_year %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
      <%= f.submit action_name %>
  <% end %>
</div>