<%= @work.title %>
<div>Category: <%= @work.category %></div>

<body>
  <div>Created By: <%= @work.creator%></div>
  <div>Published: <%= @work.publication_year%></div>
  <div><%= @work.description %></div>
  <div>Votes: <%= @work.votes.to_a.length %></div>
  <div><%= link_to "Edit", edit_work_path(@work) %> | <%= link_to "Upvote", upvote_path(@work.id), method: :post %> | <%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure?"} %></div>
</body>